<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleDisplayName</key>
        <string>Inviska Rename</string>
        <key>CFBundleExecutable</key>
        <string>${EXECUTABLE_NAME}</string>
        <key>CFBundleIdentifier</key>
        <string>com.inviska.InviskaRename</string>
        <key>CFBundleVersion</key>
        <string>${QMAKE_FULL_VERSION}</string>
        <key>CFBundleShortVersionString</key>
        <string>${QMAKE_SHORT_VERSION}</string>
        <key>CFBundleGetInfoString</key>
        <string>${QMAKE_SHORT_VERSION}</string>
        <key>CFBundleIconFile</key>
        <string>${ASSETCATALOG_COMPILER_APPICON_NAME}</string>
        <key>LSMinimumSystemVersion</key>
        <string>${MACOSX_DEPLOYMENT_TARGET}</string>
        <key>NSHumanReadableCopyright</key>
        <string>Released under the GPLv2 licence</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>NSSupportsAutomaticGraphicsSwitching</key>
        <true/>
</dict>
</plist>
